In [1]:
import pandas as pd

In [6]:
def unify(typ):
    
    with open(typ+'_corpus.txt', 'r', encoding='utf-8') as t1:
        corp = t1.read().split('\nNEWTEXT\n')
    t1.close()
    
    corp = [' '.join(a.replace('\n', ' ').split()) for a in corp]
    
    with open(typ+'_labels.txt', 'r', encoding='utf-8') as t2:
        labels = t2.read().split('\n')
    t2.close()
    
    pairs = list(zip(labels, corp))
    df = pd.DataFrame(pairs, columns = ['label', 'text'])
    
    df.to_csv(typ + '.csv')
    
    return df

In [7]:
unify('Train')

        label                                               text
0       Anime  Очень советую прочесть мангу. Создатели сериал...
1       Anime  1-Пафоса как такового нету 4-Не раздражает,в л...
2       Anime  да-да,все верно..и ни в коем случае не читать ...
3       Anime  - просто праздник какой-то. Королевская битва+...
4       Anime  Ух ты, сколько слов то знаете. Сразу видно чел...
...       ...                                                ...
87839  Travel  Туристический, наверное, не пройдет, а спортив...
87840  Travel  УРА!!!! 27-ого числа уезжаю в Чехию. Вся поезд...
87841  Travel  Меня хватает часов на 5 такого вот в месяц. Де...
87842  Travel  пожелаю, чтобы представилась такая возможность...
87843  Travel  первый раз -это конечно только тур! А что тут ...

[87844 rows x 2 columns]

In [8]:
unify('Test')

      label                                               text
0     Anime  Усё относительно, товарищ, всё относительно. В...
1     Anime  Но в аниме 25 серий, и под конец действие пошл...
2     Anime  Для меня лучшим аниме навседа останется Sailor...
3     Anime  Скучновата, да ничего я там сверхоригинального...
4     Anime  Аниме, это классная тема, очень нравятся такие...
..      ...                                                ...
995  Travel  Путешествия- большая часть моей жизни, одно из...
996  Travel  Номер на двоих стоит порядка 40000 руб. (самый...
997  Travel  Если хочется в отель, который не освоили туроп...
998  Travel  Европа - в целом - это мир мёртвых. Один город...
999  Travel  I know. То есть я понял, что имелись ввиду не ...

[1000 rows x 2 columns]

In [9]:
unify('Val')

      label                                               text
0     Anime  Паренёк по имени Щин живёт в городе-эталоне по...
1     Anime  Печально, но ожидаемо! Драгонболл, дал повод а...
2     Anime  Но в моём списке, данный сериал обязателен к п...
3     Anime  Хелсинг, да смотрела сие аниме. Про вампиров э...
4     Anime  палка о двух концах - а порнографию кто-то отм...
..      ...                                                ...
995  Travel  По заморским странам не путешествовал, однако,...
996  Travel  Не вздумай! Я думал вены себе вскрою, после те...
997  Travel  Ездила в Украину не раз примерно в то же время...
998  Travel  Интересный вопрос. Как я понял - классических ...
999  Travel  Основная причина отказа, по моей практике, мес...

[1000 rows x 2 columns]